



  <div class="container text-center padded">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 first-card">

          <h3 class= "title-card" id="title-index-quizz">Dans quelle catégorie étés vous incollable?</h3>

            <% @quizzs.each do |quizz| %>
              <div class="col-md-6">
                <div class="plate">
                  <%= link_to quizz.theme, quizz_path(quizz) %>
                </div>
              </div>
            <% end %>
      </div>
    </div>
  </div>








<!--   <div class="container first-card">
    <div class="row">
      <div class="col-xs-9 col-md-offset-3 ">
        <div class="container second-card">
         <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2>Dans quelle catégorie étés vous incollable?</h2>
          </div>
        </div>
        </div>
        <div class="container fird-card">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <ul>
                <% @quizzs.each do |quizz| %>
                <li><%= link_to quizz.theme, quizz_path(quizz) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->





