/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  &-info {
    background: $brand-success;
  }
  &-warning {
    background: $brand-danger;
  }
}
