





.first-card {
position: relative;
margin: 0 auto;
width: 96%;
background-color: lightgray;
height: 348px
}

.second-card {
position: absolute;
left: 80px;
top: 10px;
bottom : 0;
background-color: yellow
}

.fird-card {
position: absolute;
background-color: yellow
}

 // text-align: center;
 //  background-color: lightgray;
 //  border-radius: 5px; top left
 //  position: relative;
 //  width: 900px;
 //  margin: 0 auto;
 //  // padding: 200px;
 //  bottom : 0
