

.first-card {
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  height: 582pxpx;
  padding: 25px;
}

.plate {
  position: relative;
  background-image: image-url('assiette.png');
  background-size: cover;
  padding: 130px 0;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px auto;


// bouton
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }

}

.title-card {
  color: #FFFFFF;
  font-size: 23px;
  padding: 19px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
}
.title-card h1{
  margin:0px auto;
  font-size: 25px;
}

#title-index-quizz {
  position: relative;
  right: 0px;
  top: 4px
}

  // #title-show-quizz {
  //   position: relative;
  //   right: -362px;
  // }


  #title-index-user {
  right: 53px
  }


.question-show-quizz {
  color: white;
  text-align: center;
  h3 {
    font-size: 21px;
    line-height: 36px;
    font-weight: 100;
    padding: 0 100px;
  }
}

  #answer-show-quizz {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 25px;
    margin: 50px auto;
    width: 65%;
    /* height: 200px; */
    /* position: relative; */
    color: white;
    font-size: 19px;
  }

  #answer-btn{
    /* position: absolute; */
    /* bottom: 10px; */
    /* text-align: center; */
    /* left: 50%; */
    width: 100%;
  }

// .fird-card {
//   padding: 55px 25px;
//   background-color: yellow;
//   border-radius: 5px;
//   list-style-type: none
// }



 // text-align: center;
 //  background-color: lightgray;
 //  border-radius: 5px; top left
 //  position: relative;
 //  width: 900px;
 //  margin: 0 auto;
 //  // padding: 200px;
 //  bottom : 0
