.countdown{
  height: 70px;
  margin: auto;
  margin-top: 40px;
  width: 200px;
}
.countdown .digit{
  height: 70px;
  font-family: 'Courier New', Courier;
  font-size: 70px;
  line-height: 74px;
  border-radius: 10px;
  background: #a90329;
  background: white;
  margin: auto;
}
